In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv(r"../data/attrition_data.csv")
df=df.replace({'STATUS': {'T': 1, 'A': 0}})
df.shape

(9612, 27)

In [3]:
df.describe()

,EMP_ID,ANNUAL_RATE,HRLY_RATE,JOBCODE,JOB_SATISFACTION,AGE,TERMINATION_YEAR,PERFORMANCE_RATING,STATUS,PREVYR_1,PREVYR_2,PREVYR_3,PREVYR_4,PREVYR_5
count,9.612000e+03,9.612000e+03,9612.000000,9612.000000,9612.000000,9612.000000,4218.000000,9612.000000,9612.000000,9612.000000,9612.000000,9612.000000,9612.000000,9612.000000
mean,5.168687e+09,8.938563e+04,49.953808,51485.811174,2.757491,40.151581,2011.013514,3.002081,0.438826,1.346026,1.022264,0.775593,0.617561,0.466188
std,2.394707e+09,5.843344e+04,28.148113,22853.906872,1.411257,13.664378,3.915888,1.406909,0.496270,1.325699,1.286348,1.190036,1.102402,0.971020
min,1.000475e+09,1.678600e+04,14.000000,10006.000000,1.000000,18.000000,2004.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.092187e+09,5.085550e+04,32.000000,33534.000000,2.000000,28.000000,2007.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5.213208e+09,7.421050e+04,43.000000,52981.000000,3.000000,39.000000,2011.000000,3.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000
75%,7.249635e+09,1.088115e+05,59.000000,69401.000000,4.000000,52.000000,2015.000000,4.000000,1.000000,3.000000,2.000000,2.000000,1.000000,0.000000
max,9.996000e+09,1.250924e+06,608.000000,99793.000000,5.000000,64.000000,2017.000000,5.000000,1.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [4]:
job_group_combiner = {'Plant & Facilities Maintenance':'Manufacturing & Production', 'Physical Flows':'Manufacturing & Production', 'Production & Operations':'Manufacturing & Production', 'Industrial Quality':'Manufacturing & Production', 'Package Development':'Manufacturing & Production', 'Logistics - Manufacturing':'Manufacturing & Production', 'Plant Management':'Manufacturing & Production','Manufacturing Supply Chain':'Supply Chain','Distribution/Administration':'Supply Chain','Supply Chain Finance':'Supply Chain','Market Supply Logistics':'Supply Chain','Corporate Supply Chain':'Supply Chain','Transportation & Warehousing':'Supply Chain','Prod Planning & Inventory Ctl':'Supply Chain','Logistics - Distribution':'Supply Chain','Demand Planning':'Supply Chain','Supply Chain Administration':'Supply Chain','Finance':'Finance','Tax':'Finance','Accounting':'Finance','Flows & Sub-Contracting':'Finance','Accounts Payable':'Finance','Treasury':'Finance','Insurance & Risk Management':'Finance','Supply Chain Administration':'Business','R&I Evaluation':'Business','Public Relations':'Business','Customer Care':'Business','Multi-Channel':'Business','R&I Safety Evaluation':'Business','Customer Relationship Mgmt':'Marketing','Marketing - Direct':'Marketing','Promotional Purchasing':'Marketing','Marketing Support/Services':'Marketing','Market Research':'Marketing','Marketing - Global':'Marketing','Integrated Mktg Communications':'Marketing','Brand Operations':'Marketing','Social Media':'Marketing','Integrated Marketing Comm':'Marketing','General Administration':'General','General Management':'General','R&I General Management':'General','R&I Development/Pre-Develpmnt':'Research & Development','Creative Service/Copy':'Research & Development','Engineering':'Research & Development','Technical Packaging':'Research & Development','Quality Assurance':'Research & Development','Digital':'Research & Development','Analytical/Microbiology':'Research & Development','eCommerce':'Research & Development','Demi-Grand':'Research & Development','Applied Research':'Research & Development','Advanced Research':'Research & Development','Web':'Research & Development','IT Business Applications':'IT','IT Technologies and Infrstrctr':'IT','IT Governance and Management':'IT','IT Architecture and Integrtion':'IT','IT Digital':'IT','IT Security/Risk and Quality':'IT','Sourcing':'Human Resources','Human Resources':'Human Resources','Legal':'Legal','Intellectual Proprty & Patents':'Legal','Regulatory Affairs':'Legal','Claims Substantiation':'Legal'}
df['COMBINED_JOB_GROUP'] = [job_group_combiner[job_group] for job_group in df['JOB_GROUP']]

In [6]:
df[['JOB_GROUP', 'COMBINED_JOB_GROUP']]

                           JOB_GROUP          COMBINED_JOB_GROUP
0     Plant & Facilities Maintenance  Manufacturing & Production
1                      Customer Care                    Business
2                      Customer Care                    Business
3                            Finance                     Finance
4                 Marketing - Direct                   Marketing
5                     Physical Flows  Manufacturing & Production
6                 Marketing - Direct                   Marketing
7                            Finance                     Finance
8                                Tax                     Finance
9             General Administration                     General
10           Production & Operations  Manufacturing & Production
11     R&I Development/Pre-Develpmnt      Research & Development
12                          Sourcing             Human Resources
13          IT Business Applications                          IT
14           Production & Operations  Manufacturing & Production
15                   Human Resources             Human Resources
16            Promotional Purchasing                   Marketing
17             Creative Service/Copy      Research & Development
18                          Sourcing             Human Resources
19     R&I Development/Pre-Develpmnt      Research & Development
20          IT Business Applications                          IT
21                       Engineering      Research & Development
22          IT Business Applications                          IT
23              Supply Chain Finance                Supply Chain
24               Technical Packaging      Research & Development
25                           Finance                     Finance
26                     Customer Care                    Business
27                             Legal                       Legal
28                          Sourcing             Human Resources
29                   Human Resources             Human Resources
...                              ...                         ...
9582                  Physical Flows  Manufacturing & Production
9583         Market Supply Logistics                Supply Chain
9584               Quality Assurance      Research & Development
9585                 Human Resources             Human Resources
9586                 Human Resources             Human Resources
9587           Creative Service/Copy      Research & Development
9588         Production & Operations  Manufacturing & Production
9589              Marketing - Direct                   Marketing
9590              Marketing - Direct                   Marketing
9591             Technical Packaging      Research & Development
9592          General Administration                     General
9593             Technical Packaging      Research & Development
9594              Regulatory Affairs                       Legal
9595                  Physical Flows  Manufacturing & Production
9596   R&I Development/Pre-Develpmnt      Research & Development
9597                   Customer Care                    Business
9598        IT Business Applications                          IT
9599                       eCommerce      Research & Development
9600           Creative Service/Copy      Research & Development
9601                Public Relations                    Business
9602           Creative Service/Copy      Research & Development
9603                  Physical Flows  Manufacturing & Production
9604                 Human Resources             Human Resources
9605                  Physical Flows  Manufacturing & Production
9606                   Customer Care                    Business
9607                  Physical Flows  Manufacturing & Production
9608                  Physical Flows  Manufacturing & Production
9609         Production & Operations  Manufacturing & Production
9610         Production & Operations  Manufacturing & Production
9611                  Physical Flows  Manufacturing & Production

[9612 rows x 2 columns]

In [8]:
quantiled_annual_rate = df['ANNUAL_RATE'].quantile([0.25,0.5,0.75])
discretized_annual_rate_list = []
for annual_rate in df['ANNUAL_RATE']:
    if quantiled_annual_rate[0.25] > annual_rate:
        discretized_annual_rate_list.append('LOW')
    elif quantiled_annual_rate[0.25] <= annual_rate and quantiled_annual_rate[0.50] > annual_rate:
        discretized_annual_rate_list.append('MEDIUM')
    elif quantiled_annual_rate[0.50] <= annual_rate and quantiled_annual_rate[0.75] > annual_rate:
        discretized_annual_rate_list.append('HIGH')
    elif quantiled_annual_rate[0.75] <= annual_rate:
        discretized_annual_rate_list.append('VERY HIGH')
df['DISCRETIZED_ANNUAL_RATE'] = discretized_annual_rate_list

In [10]:
df[['ANNUAL_RATE', 'DISCRETIZED_ANNUAL_RATE']]

      ANNUAL_RATE DISCRETIZED_ANNUAL_RATE
0           33615                     LOW
1           70675                  MEDIUM
2           34320                     LOW
3          103199                    HIGH
4          141801               VERY HIGH
5           31615                     LOW
6           91425                    HIGH
7          189200               VERY HIGH
8          144069               VERY HIGH
9          205811               VERY HIGH
10         146290               VERY HIGH
11         113278               VERY HIGH
12         104108                    HIGH
13         133638               VERY HIGH
14          67308                  MEDIUM
15         264938               VERY HIGH
16         128683               VERY HIGH
17          86243                    HIGH
18         109863               VERY HIGH
19         104722                    HIGH
20         101439                    HIGH
21         188196               VERY HIGH
22         151066               VERY HIGH
23         157450               VERY HIGH
24         166193               VERY HIGH
25         362990               VERY HIGH
26         107680                    HIGH
27         166158               VERY HIGH
28         119823               VERY HIGH
29         231951               VERY HIGH
...           ...                     ...
9582        33278                     LOW
9583       115515               VERY HIGH
9584        40954                     LOW
9585       105846                    HIGH
9586        88600                    HIGH
9587       135947               VERY HIGH
9588       100773                    HIGH
9589       140992               VERY HIGH
9590        88994                    HIGH
9591       130520               VERY HIGH
9592        42553                     LOW
9593        50463                     LOW
9594        96921                    HIGH
9595        35179                     LOW
9596        93940                    HIGH
9597       110776               VERY HIGH
9598       175642               VERY HIGH
9599       110889               VERY HIGH
9600        90621                    HIGH
9601        90878                    HIGH
9602        85611                    HIGH
9603        35205                     LOW
9604        70769                  MEDIUM
9605        52723                  MEDIUM
9606       140989               VERY HIGH
9607        34636                     LOW
9608        34962                     LOW
9609        39286                     LOW
9610        39145                     LOW
9611        90726                    HIGH

[9612 rows x 2 columns]

In [12]:
discretized_age = []
for age in df['AGE']:
    if age >= 18 and age <= 23:
        discretized_age.append('18-23')
    elif age > 23 and age <= 29:
        discretized_age.append('24-29')
    elif age > 29 and age <= 35:
        discretized_age.append('30-35')
    elif age > 35 and age <= 41:
        discretized_age.append('36-41')
    elif age > 41 and age <= 47:
        discretized_age.append('41-47')
    elif age > 47 and age <= 53:
        discretized_age.append('48-53')
    elif age > 53 and age <= 59:
        discretized_age.append('54-59')
    elif age > 59:
        discretized_age.append('60 or above')
df['DISCRETIZED_AGE'] = discretized_age

In [13]:
df[['AGE', 'DISCRETIZED_AGE']]

      AGE DISCRETIZED_AGE
0      35           30-35
1      18           18-23
2      18           18-23
3      50           48-53
4      34           30-35
5      31           30-35
6      39           36-41
7      21           18-23
8      44           41-47
9      62     60 or above
10     34           30-35
11     53           48-53
12     64     60 or above
13     31           30-35
14     63     60 or above
15     38           36-41
16     61     60 or above
17     61     60 or above
18     45           41-47
19     60     60 or above
20     63     60 or above
21     43           41-47
22     34           30-35
23     21           18-23
24     48           48-53
25     48           48-53
26     22           18-23
27     23           18-23
28     23           18-23
29     51           48-53
...   ...             ...
9582   28           24-29
9583   51           48-53
9584   42           41-47
9585   35           30-35
9586   42           41-47
9587   51           48-53
9588   21           18-23
9589   59           54-59
9590   51           48-53
9591   44           41-47
9592   40           36-41
9593   39           36-41
9594   52           48-53
9595   18           18-23
9596   63     60 or above
9597   47           41-47
9598   46           41-47
9599   25           24-29
9600   32           30-35
9601   46           41-47
9602   28           24-29
9603   20           18-23
9604   31           30-35
9605   30           30-35
9606   31           30-35
9607   43           41-47
9608   28           24-29
9609   31           30-35
9610   32           30-35
9611   46           41-47

[9612 rows x 2 columns]

In [14]:
df['PREVYR_1_PRESENT'] = [1 if value > 0 else 0 for value in df['PREVYR_1']]
df['PREVYR_2_PRESENT'] = [1 if value > 0 else 0 for value in df['PREVYR_2']]
df['PREVYR_3_PRESENT'] = [1 if value > 0 else 0 for value in df['PREVYR_3']]
df['PREVYR_4_PRESENT'] = [1 if value > 0 else 0 for value in df['PREVYR_4']]
df['PREVYR_5_PRESENT'] = [1 if value > 0 else 0 for value in df['PREVYR_5']]
df['EXPERIENCE_AT_COMPANY'] = df['PREVYR_1_PRESENT'] + df['PREVYR_2_PRESENT'] + df['PREVYR_3_PRESENT'] + df['PREVYR_4_PRESENT'] + df['PREVYR_5_PRESENT'] + 1

In [15]:
df[['PREVYR_1_PRESENT','PREVYR_2_PRESENT','PREVYR_3_PRESENT','PREVYR_4_PRESENT','PREVYR_5_PRESENT','EXPERIENCE_AT_COMPANY']]

,PREVYR_1_PRESENT,PREVYR_2_PRESENT,PREVYR_3_PRESENT,PREVYR_4_PRESENT,PREVYR_5_PRESENT,EXPERIENCE_AT_COMPANY
0,0,0,0,0,0,1
1,1,1,1,1,1,6
2,1,1,1,1,1,6
3,0,0,0,0,0,1
4,1,1,1,1,1,6
5,1,1,1,1,1,6
6,1,1,1,1,1,6
7,1,1,1,1,1,6
8,1,1,1,1,1,6
9,1,1,1,1,1,6
10,0,0,0,0,0,1
11,1,1,1,1,1,6
12,1,0,0,0,0,2
13,1,1,1,1,1,6
14,1,0,0,0,0,2
15,1,1,1,1,1,6
16,1,1,1,1,1,6
17,0,0,0,0,0,1
18,1,1,1,1,1,6
19,1,1,1,1,1,6
20,1,1,1,1,1,6
21,1,1,1,1,1,6
22,1,1,1,1,1,6
23,1,1,1,1,1,6
24,0,0,0,0,0,1
25,0,0,0,1,1,3
26,1,1,1,1,1,6
27,0,0,0,0,0,1
28,1,1,1,1,1,6
29,1,1,1,1,1,6
...,...,...,...,...,...,...
9582,0,0,0,0,0,1
9583,0,0,0,0,0,1
9584,0,0,0,0,0,1
9585,0,0,0,0,0,1
9586,0,0,0,0,0,1
9587,0,0,0,0,0,1
9588,0,0,0,0,0,1
9589,0,0,0,0,0,1
9590,0,0,0,0,0,1
9591,0,0,0,0,0,1
9592,0,0,0,0,0,1
9593,0,0,0,0,0,1
9594,0,0,0,0,0,1
9595,0,0,0,0,0,1
9596,0,0,0,0,0,1
9597,0,0,0,0,0,1
9598,0,0,0,0,0,1
9599,0,0,0,0,0,1
9600,0,0,0,0,0,1
9601,0,0,0,0,0,1
9602,0,0,0,0,0,1
9603,0,0,0,0,0,1
9604,0,0,0,0,0,1
9605,0,0,0,0,0,1
9606,0,0,0,0,0,1
9607,0,0,0,0,0,1
9608,0,0,0,0,0,1
9609,0,0,0,0,0,1
9610,0,0,0,0,0,1
9611,0,0,0,0,0,1

In [112]:
Ethin_df=df.groupby(['JOB_GROUP']).apply(lambda x: pd.Series(dict(
    employee_cnt=x.EMP_ID.nunique(),
    terminated_cnt=x[x['STATUS']==1].EMP_ID.nunique(),
    terminated_rate=x[x['STATUS']==1].EMP_ID.nunique()/x.EMP_ID.nunique(),
    white_rate=x[x['ETHNICITY']=='WHITE'].EMP_ID.nunique()/x.EMP_ID.nunique(),
    asian_rate=x[x['ETHNICITY']=='ASIAN'].EMP_ID.nunique()/x.EMP_ID.nunique(),
    black_rate=x[x['ETHNICITY']=='BLACK'].EMP_ID.nunique()/x.EMP_ID.nunique(),
    hispa_rate=x[x['ETHNICITY']=='HISPA'].EMP_ID.nunique()/x.EMP_ID.nunique(),
))).reset_index()
Ethin_df.sort_values('employee_cnt',ascending=False)

,JOB_GROUP,employee_cnt,terminated_cnt,terminated_rate,white_rate,asian_rate,black_rate,hispa_rate
47,Production & Operations,1714.0,819.0,0.477830,0.601517,0.150525,0.119603,0.104434
38,Marketing - Direct,849.0,542.0,0.638398,0.586572,0.141343,0.124853,0.124853
43,Physical Flows,816.0,169.0,0.207108,0.601716,0.150735,0.115196,0.115196
16,Finance,525.0,284.0,0.540952,0.634286,0.127619,0.097143,0.108571
20,Human Resources,396.0,153.0,0.386364,0.580808,0.146465,0.121212,0.136364
9,Customer Care,355.0,147.0,0.414085,0.639437,0.140845,0.109859,0.092958
18,General Administration,343.0,166.0,0.483965,0.600583,0.177843,0.116618,0.072886
39,Marketing - Global,296.0,111.0,0.375000,0.594595,0.135135,0.125000,0.131757
53,R&I General Management,250.0,211.0,0.844000,0.612000,0.120000,0.124000,0.108000
51,R&I Development/Pre-Develpmnt,250.0,49.0,0.196000,0.540000,0.176000,0.136000,0.104000
8,Creative Service/Copy,245.0,110.0,0.448980,0.616327,0.146939,0.110204,0.114286
27,Industrial Quality,235.0,59.0,0.251064,0.595745,0.153191,0.110638,0.119149
57,Sourcing,223.0,87.0,0.390135,0.582960,0.156951,0.098655,0.147982
61,Technical Packaging,219.0,142.0,0.648402,0.634703,0.114155,0.082192,0.118721
13,Digital,214.0,79.0,0.369159,0.579439,0.163551,0.116822,0.098131
35,Manufacturing Supply Chain,169.0,58.0,0.343195,0.633136,0.124260,0.106509,0.118343
37,Market Supply Logistics,156.0,45.0,0.288462,0.653846,0.141026,0.102564,0.076923
14,Distribution/Administration,145.0,144.0,0.993103,0.634483,0.124138,0.110345,0.117241
24,IT Governance and Management,134.0,98.0,0.731343,0.679104,0.097015,0.082090,0.111940
0,Accounting,126.0,46.0,0.365079,0.587302,0.150794,0.119048,0.134921
40,Marketing Support/Services,122.0,59.0,0.483607,0.606557,0.139344,0.139344,0.090164
11,Demand Planning,119.0,61.0,0.512605,0.655462,0.109244,0.084034,0.126050
22,IT Business Applications,99.0,20.0,0.202020,0.606061,0.191919,0.090909,0.090909
42,Package Development,97.0,6.0,0.061856,0.639175,0.154639,0.082474,0.123711
15,Engineering,93.0,62.0,0.666667,0.580645,0.139785,0.139785,0.107527
49,Public Relations,86.0,24.0,0.279070,0.639535,0.116279,0.093023,0.104651
52,R&I Evaluation,84.0,10.0,0.119048,0.702381,0.130952,0.083333,0.071429
19,General Management,80.0,20.0,0.250000,0.537500,0.187500,0.112500,0.137500
44,Plant & Facilities Maintenance,75.0,69.0,0.920000,0.560000,0.133333,0.106667,0.120000
65,eCommerce,70.0,11.0,0.157143,0.657143,0.142857,0.128571,0.057143
...,...,...,...,...,...,...,...,...
36,Market Research,46.0,30.0,0.652174,0.652174,0.152174,0.152174,0.043478
10,Customer Relationship Mgmt,41.0,7.0,0.170732,0.707317,0.097561,0.097561,0.097561
17,Flows & Sub-Contracting,39.0,11.0,0.282051,0.641026,0.076923,0.128205,0.128205
41,Multi-Channel,38.0,5.0,0.131579,0.605263,0.131579,0.131579,0.105263
64,Web,37.0,16.0,0.432432,0.486486,0.270270,0.189189,0.054054
32,Legal,34.0,13.0,0.382353,0.588235,0.117647,0.088235,0.176471
59,Supply Chain Finance,34.0,11.0,0.323529,0.617647,0.147059,0.058824,0.117647
23,IT Digital,32.0,0.0,0.000000,0.656250,0.093750,0.125000,0.125000
2,Advanced Research,30.0,2.0,0.066667,0.566667,0.100000,0.166667,0.133333
34,Logistics - Manufacturing,30.0,30.0,1.000000,0.633333,0.066667,0.166667,0.100000
46,Prod Planning & Inventory Ctl,30.0,29.0,0.966667,0.500000,0.200000,0.200000,0.066667
4,Applied Research,29.0,2.0,0.068966,0.413793,0.068966,0.241379,0.275862
30,Integrated Mktg Communications,28.0,28.0,1.000000,0.535714,0.357143,0.071429,0.035714
55,Regulatory Affairs,26.0,6.0,0.230769,0.423077,0.230769,0.192308,0.115385
3,Analytical/Microbiology,23.0,1.0,0.043478,0.652174,0.173913,0.043478,0.086957
33,Logistics - Distribution,23.0,23.0,1.000000,0.695652,0.043478,0.000000,0.260870
7,Corporate Supply Chain,22.0,2.0,0.090909,0.500000,0.090909,0.181818,0.181818
60,Tax,19.0,1.0,0.052632,0.736842,0.157895,0.000000,0.105263
62,Transportation & Warehousing,19.0,19.0,1.000000,0.684211,0.210526,0.052632,0.052632
12,Demi-Grand,17.0,0.0,0.000000,0.705882,0.117647,0.117647,0.058824
5,Brand Operations,16.0,16.0,1.000000,0.812500,0.062500,0.062500,0.062500
45,Plant Management,15.0,1.0,0.066667,0.400000,0.266667,0.133333,0.133333
54,R&I Safety Evaluation,15.0,1.0,0.066667,0.600000,0.200000,0.200000,0.000000
31,Intellectual Proprty & Patents,10.0,2.0,0.200000,0.700000,0.100000,0.200000,0.000000
21,IT Architecture and Integrtion,10.0,1.0,0.100000,0.900000,0.000000,0.000000,0.100000
6,Claims Substantiation,9.0,0.0,0.000000,0.555556,0.111111,0.000000,0.222222
25,IT Security/Risk and Quality,8.0,0.0,0.000000,0.375000,0.375000,0.000000,0.125000
63,Treasury,7.0,0.0,0.000000,0.571429,0.142857,0.142857,0.142857
28,Insurance & Risk Management,1.0,0.0,0.000000,1.000000,0.000000,0.000000,0.000000
29,Integrated Marketing Comm,1.0,1.0,1.000000,0.000000,0.000000,1.000000,0.000000

In [114]:
df = pd.merge(df, Ethin_df, how='left', on=['JOB_GROUP'])

In [115]:
df=df.replace({'STATUS': {1: 'T', 0: 'A'}})

In [116]:
df.to_csv(r'../data/attrition_data_with_calculated_columns.csv', index = False)